body,
html {
  margin: 10px;
  border: 10px;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #a8d6ab;
  color: black;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

#model-intro,
#explore-crops {
  background-color:white;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #c6ebce;
  color: black;
}

tr:nth-child(even) {
  background-color: #d8ded9;
}

#crop-recommendation-how-it-works {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

